h1{
	color: red;
	
}

/*#overlay{
	display: hidden; 
}

#game{
	display: hidden;
}

#diceValues{
	display: inline; 
	color: red;
}*/

.overlay{
	display: none;
}

.hidden{
	color: red;
	display: none;

}

.show{
	display: inline;
	color: blue;
	
}

p{
	float: left;
	color: black;
	width: 30px;
    border: 1px solid green;
    padding: 25px;
    margin: 25px;
	
}

.closeButton{
	float: none;
}


button{
	float: none;
}
/*.numClass{
	color: orange;
	width: 300px;
    border: 25px solid green;
    padding: 25px;
    margin: 25px;
}*/

.startButton{
	color: red;
}

#rollButton{
	color: purple;
}

#pinButton{
	color: green;
}

/*.initialBox{
	display: none; 
}*/

.newParaClass{
	font-size: 50px; 
	color: pink;
}

.originalPara{
	color: green; 
	font-size: 30px; 
}

.clickPara{
	color: purple;
	font-size: 50px; 
}

.hoverPara{
	background: grey; 
}

.pinnedDice{
	background: #2F3638;
}


#playerScore{
	color: blue; 
}

#computerScoree{
	color: red; 
}


#tiedScore{
	color: #4775d1;

}

#winScore{
	color: #ff3399;

}

#looseScore{
	color: #669900;


}