h1{
	color: red;
	
}

/*#overlay{
	display: hidden; 
}

#game{
	display: hidden;
}

#diceValues{
	display: inline; 
	color: red;
}*/

.overlay{
	display: none;
	float: left;
	color: black;
	width: 90px;
    border: 1px solid green;
    padding: 25px;
    margin: 25px;
}

.hidden{
	color: red;
	display: none;

}

.show{
	display: inline;
	color: blue;
	
}

p{
	float: left;
	color: black;
	width: 30px;
    border: 1px solid green;
    padding: 25px;
    margin: 25px;
	
}

.emptyDice{

	float: left;
	color: black;
	width: 30px;
    border: 1px solid purple;
    padding: 25px;
    margin: 25px;

}

.closeButton{
	float: none;
}


button{
	float: none;
}
/*.numClass{
	color: orange;
	width: 300px;
    border: 25px solid green;
    padding: 25px;
    margin: 25px;
}*/

.startButton{
	color: red;
}

#rollButton{
	/*color: purple;*/
}

#pinButton{
	/*color: green;*/
}

/*.initialBox{
	display: none; 
}*/

.newParaClass{
	font-size: 50px; 
	color: pink;
}

.originalPara{
	color: green; 
	font-size: 30px; 
}

.clickPara{
	color: purple;
	font-size: 50px; 
}

.hoverPara{
	background: #26734d; 
	color: white;
}

.pinnedDice{
	background: #2F3638;
	color: white;
}


#playerScore{
	color: blue; 
}

#computerScoree{
	color: red; 
}


#tiedScore{
	color: #4775d1;

}

#winScore{
	color: #ff3399;

}

#looseScore{
	color: #669900;

}



.displayOverlay{
	display: inline;
	position: fixed;
	height: 100%;
	width: 100%;
}

.displayCloseButton{
	display: inline;
}



.displayMessage{
	float: none;
	display: inline;
	border: none; 
	color: red;
}